@import "./default.css";

:root {
  --white: #fff;
  --transparent-white-05: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --transparent-dark-05: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  --basic-font: "Open Sans", serif;
  --support-font: "Neucha", serif;

  --basic-font-size: 16px;
  --basic-line-height: 1.6em;

  --basic-color-font: var(--dark);

  --h-line-height: 1.2em;
  --h1-font-size: 72px;
  --h2-font-size: 60px;
  --h3-font-size: 34px;

  --basic-width-container: 1110px;
  --basic-padding-container: 100px;
}

/* font-family: "Open Sans", serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings: "wdth" 100; 

font-family: "Neucha", serif;
font-weight: 400;
font-style: normal;
*/

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: var(--basic-width-container);
  padding-left: var(--basic-padding-container);
  padding-right: var(--basic-padding-container);
}

.header {
  position: relative;
  background-color: var(--light);
  padding-top: var(--basic-padding-container);
  padding-bottom: var(--basic-padding-container);
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/assets/img/background-pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}

.lid {
  width: 100%;
  display: flex;
  padding-bottom: 15px;
}

/* @media (max-width: 1554px) {
  .lid {
    flex-direction: column;
  }
} */

.lid-title {
  flex: 1 0 auto;
  font-family: var(--support-font);
  font-size: var(--h1-font-size);
  line-height: var(--h-line-height);
  color: var(--main-color);
  z-index: 1;
}

.lid-title > span {
  color: var(--dark);
}

.lid-img {
  flex: 0 1 auto;
}

.lid-img > img {
  position: relative;
  top: 0;
  display: block;
  max-width: 250%;
  right: 200px;
  z-index: 0;
}

.text {
  display: flex;
  gap: 20px;
}

.text-paragraph {
  font-family: var(--basic-font);
  flex: 1 0 50%;
  font-weight: 400;
  font-size: var(--basic-font-size);
  line-height: var(--basic-line-height);
}

.text-block {
  flex: 1 0 50%;
}

.text-block-paragraph {
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: var(--basic-font-size);
  line-height: var(--basic-line-height);
  padding-bottom: 15px;
}

.btn-text {
  display: block;
  background-color: var(--main-color);
  color: var(--light);
  padding: 11px 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--basic-font);
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
